<div class="header collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav nav-pills pull-right" ng-controller="AuthCtrl">
        <li class="active"><a ng-href="#">Discover</a></li>
        <li><a ng-href="#" ng-show="loginObj.user">Saved Tracks</a></li>
        <li><a ng-href="#" ng-show="loginObj.user" ng-click="loginObj.$logout()">Logout</a></li>
    </ul>
    <h3 class="text-muted">masquerade<i>fm</i></h3>
</div>
<div class="row">
    <div ui-view="content"></div>
</div>

<!-- <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<div class="footer">
    <p class='pull-left'>Much ♥ to SoundCloud</p>
    <div class="pull-right">
        <p><i>"Music for the open-minded"</i></p>
        <p><a ng-href="https://twitter.com/MasqueradeFM" target="_blank">@MasqueradeFM</a></p>
    </div>
</div>
